<div class="footer">
    <div class="container-fluid">
        <div class="pull-left copyright">
            <p>STELLA <b>SHOP</b> &copy; 2014. Designed by <a href="http://www.angelostudio.net" target="_blank">Angelo Studio</a>.</p>
            <ul class="nav-list effect">
                <li><a href="terms-conditions.html">Delivery & Returns</a></li>
                <li><a href="terms-conditions.html">Terms & Conditions</a></li>
                <li><a href="privacy.html">Privacy</a></li>
                <li><a href="faq.html">FAQ</a></li>
            </ul>
        </div>

        <div class="pull-right copyright">
            <ul class="social-links">
                <li><a href="https://twitter.com/angelo_studio"><i class="icon-twitter"></i></a></li>
                <li><a href="http://dribbble.com/angelo_studio"><i class="icon-dribbble"></i></a></li>
                <li><a href="http://www.pinterest.com/angelostudio/"><i class="icon-pinterest"></i></a></li>
            </ul>
        </div>
    </div>
</div>
