<div class="navbar-container">
    <div class="container-fluid">
        <div class="menu-wrapper">
            <a href="#" class="close-menu visible-xs"><i class="icon-close"></i></a>
            <h3 class="visible-xs">Navigation</h3>
            <ul class="nav-list text-center effect">
                <li><a routerLink="/" routerLinkActive="active">Shop</a></li>
                <li><a routerLink="about" routerLinkActive="active">About</a></li>
                <li><a routerLink="blog" routerLinkActive="active">Blog</a></li>
                <li><a routerLink="contact" routerLinkActive="active">Contact</a></li>
                <li><a routerLink="register" routerLinkActive="active">Register</a></li>
                <li><a class="alert-link" (click)="login()">Login</a></li>
                <li *ngIf="isAuthenticated()"><a routerLink="/" class="alert-link" (click)="logout()">Logout</a></li>
                <li *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    <div class="dropdown show">
                        <a style="height: auto" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
                            Admin Panel
                        </a>                        
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" routerLink="audits">Audits</a>
                            <a class="dropdown-item" routerLink="jhi-configuration">Configuration</a>
                            <a class="dropdown-item" routerLink="docs">Docs</a>
                            <a class="dropdown-item" routerLink="jhi-health">Health</a>
                            <a class="dropdown-item" routerLink="logs">Logs</a>
                            <a class="dropdown-item" routerLink="jhi-metrics">Metrics</a>
                            <a class="dropdown-item" routerLink="user-management">User Management</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
