<div id="wrap">
    <div id="main-nav" class="">
        <div class="container-fluid">
            <div class="nav-header">
                <a href="index.html" class="nav-brand">STELLA <span>SHOP</span></a>
                <a class="nav-icon pull-right visible-xs menu-link" href="#"><i class="icon-menu2"></i></a>
                <a class="nav-icon-outline cart pull-right" routerLink="/cart"><i class="icon-cart"></i><span class="badge">{{cart.length}}</span></a>
                <div [ngSwitch]="isAuthenticated()">
                    <a *ngIf="account" class="pull-right">You are logged in as {{account.login}}</a>
                </div>
                <a class="nav-icon-outline hidden-xs cart pull-right" routerLink="/cart"><i class="icon-cart"></i><span class="badge">{{cart.length}}</span></a>
            </div>
        </div>
    </div>

    <div class="container-fluid title">
        <div class="row">
            <div class="col-sm-12">
                <h2>Checkout / Step 2 of 2</h2>
            </div>
        </div>
    </div>

    <div class="container-fluid cart-list">
        <form class="form" role="form" (ngSubmit)="checkout($event)">
        <div class="row">
            <div class="col-sm-6">
                    <h3 class="text-center">Payment Method</h3>

                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        Cryptocurrency
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div id="nano-button"></div>
                                </div>
                            </div>

                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        Credit Card
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-sm-8 col-md-12">
                                            <div class="form-group">
                                                <label class="control-label">Name</label>
                                                <input [(ngModel)]="cardDTO.owner" name="owner" placeholder="Name on Card" class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8 col-md-8">
                                            <div class="form-group">
                                                <label class="control-label">Card Number</label>
                                                <input [(ngModel)]="cardDTO.number" name="number" placeholder="Card number" class="form-control input-lg" type="text">
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Code</label>
                                                <input [(ngModel)]="cardDTO.cvc" name="cvc" placeholder="cvc" class="form-control input-lg" type="text" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">month</label>
                                                <div class=" controls">
                                                    <select [(ngModel)]="cardDTO.expMonth" name="ccExpMonth" class="form-control">
                                                        <option value="" disabled selected>Expiration Month</option>
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                        <option>6</option>
                                                        <option>7</option>
                                                        <option>8</option>
                                                        <option>9</option>
                                                        <option>10</option>
                                                        <option>11</option>
                                                        <option>12</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">year</label>
                                                <div class=" controls">
                                                    <select [(ngModel)]="cardDTO.expYear" name="expYear" class="form-control">
                                                        <option value="" disabled selected>Expiration Year</option>
                                                        <option>2018</option>
                                                        <option>2019</option>
                                                        <option>2020</option>
                                                        <option>2021</option>
                                                        <option>2022</option>
                                                        <option>2023</option>
                                                        <option>2024</option>
                                                        <option>2025</option>
                                                        <option>2025</option>
                                                        <option>2026</option>
                                                        <option>2027</option>
                                                        <option>2028</option>
                                                        <option>2029</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="control-label" for="contact-message">Message</label>
                                        <div class="controls">
                                            <textarea id="contact-message" name="comments" placeholder="Add Comments About Your Order" class="form-control input-lg requiredField" rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

            <div class="col-sm-6 ">
                <table class="table">
                    <thead>
                    <tr>
                        <th colspan="3" class="text-center">You're purchasing this…</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr *ngFor="let cartInvoice of cart">
                        <td class="vert-align">{{cartInvoice.productsName}}</td>
                        <td class="vert-align">{{cartInvoice.cartItemQuantity}}x</td>
                        <td class="vert-align text-right">{{cartInvoice.cartItemTotalPrice | currency }}</td>
                    </tr>

                    <tr>
                        <td class="vert-align"><b>Cart subtotal</b></td>
                        <td class="vert-align"></td>
                        <td class="vert-align text-right"><b>{{total() | currency}}</b></td>
                    </tr>
                    <tr>
                        <td class="vert-align">Shipping cost:</td>
                        <td class="vert-align"></td>
                        <td class="vert-align text-right">{{shipping() | currency}}</td>
                    </tr>
                    <tr>
                        <td class="vert-align">Tax:</td>
                        <td class="vert-align"></td>
                        <td class="vert-align text-right">{{tax | currency}}</td>
                    </tr>
                    <tr>
                        <td class="vert-align">Total:</td>
                        <td class="vert-align"></td>
                        <td class="vert-align text-right" id="total">{{totalCharge() | currency}}</td>
                    </tr>
                    </tbody>
                </table>

                <!--<a ng-click="vm.checkout($event)" class="btn btn-right">Complete my purchase</a>-->
                <button type="submit" class="btn btn-right">Complete my purchase</button>
            </div>
        </form>
        </div>

        <div class="row">
            <div class="col-sm-12 text-center show-more">
                <a href="index.html" class="btn btn-outline">Cancel and return to store</a>
            </div>
        </div>

    </div>
</div>
